@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root{
    --body-by-color: #FAF7FD;
    --purple: #8899DD;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body, html{
    font-family:  'Poppins', sans-serif;
    background-color: var(--white-light);
    font-size: 20px;
    
}

a:hover{
    background-color: rgba(155, 130, 214, 0.26);
    transition-duration: 0.5s;
}

a{
    padding: 4px;
    border: 2px solid var(--purple);
    border-radius: 6px;
    margin: 5px;
}

img#avatar{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 3px solid var(--purple);
    padding: 3px;
    display: block;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botoes{
    font-weight: bold;
}

.container.container-tree{
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    display: flex;
    flex-direction: column;
    text-align: center;

    margin-top: 10px;
    margin-bottom: 10px;
}

.insta_user{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
}

div#simbols{
    display: flex;
    justify-content: center;
}

img:hover{
    background-color: rgba(155, 130, 214, 0.26);
    transition-duration: 0.5s;
}

img{
    margin: 20px 6px;
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
}
